<div>
    {{#if showName}}
    <p> show name is true </p>
    {{/if}}
    <p>
        {{info}}
    </p>
    <p>
        {{object.victor}}
    </p>
    <p>
        {{object.michael}}
    </p>
    <p>
        {{object.tommy}}
    </p>
</div>