<body>
    <div class="login-container">
        <div class="login-header">
            <p>
                Member Login
            </p>
        </div>
        <div class="separator"></div>

        <div class="login-form">
            <form class="login-form" action="/login" method="POST">
                <div class="login-fields">
                    <input class="login-user" type="text" name="username" placeholder="username" />
                    <div class="separator"></div>
                    <input class="login-pwd" type="text" name="pwd" placeholder="password" />
                </div>
                <input class="login-btn" type="submit" value="Login" />
            </form>
        </div>
    </div>
</body>