.avatar {
    min-width: 100%;
}

.avatar:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.list-avatar > .avatar {
    border: 0.5px lightgrey solid;
}
.avatar .avatar-img {
    display: flex;
    align-self: center;
    margin: 10px;
    background-image: url("../../assets/img/default.png");
}

.avatar .avatar-img {
    border-radius: 5px;
}

.avatar .avatar-img img {
    border-radius: 5px;
}

.avatar .avatar-name {
    font-weight: bold;
}

.avatar .avatar-description > div {
    margin: 5px;
}

.avatar .btn-delete {
    margin-left: auto;
    margin-right: 5%;
    display: flex;
}

.avatar .btn-delete button {
    align-self: center;
    color: white;
    background-color: red;
}
