.list-avatar{
    display:flex;
    flex-direction: column;
    align-self: center;
}

.container > .list-avatar {
  max-width: 300px;
}

.container > .list-avatar > .avatar {
  display: flex;
  flex-direction: row;
}
